  body{
    /* display: grid;
    grid-template-columns: 15em auto 15em;
    grid-template-rows: min-content auto min-content; */
    background-image: url('./assets/photos/coffee-hero-bg.jpg');
}
/*header, footer {
    grid-column-start: 1;
    grid-column-end: 4;
} */
/* .hero {
    
} */ 
.hidden{
    display: none;
}
ul li {
    list-style: none;
}
.coffee-club {
    background-color: #014107;
    display: flex;
    flex-direction: column;
    color: #f2f2f2;
}
form {
    display: flex;
    flex-direction: column;
}
#coffee-club-btn {
    background-color: #a6592f;
}
.row {
    display: flex;
}
.col-1{
    width: 54%;
}
.col-2{
    width: 46%;
    display: inline;
}
.coffee-coffee {
    background-image: url("./assets/photos/coffee-beans-bg.jpg");
    background-size: cover;
    color: #f2f2f2;
    padding: 50px;
}
.location, .recap {
    background-color: #233237;
    color:#f2f2f2;
}
footer {
    background-color: #222222;
    color:#f2f2f2;
    position: fixed bottom;
}
.hours {
    padding: 10 10 10 10;
}
h2, h3, p {
    text-align: center;
}